################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Simple-car/FileContentIndex/09a712a4-41cf-4478-8584-e7e21261d9e7.vsidx
